[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.1.8"
pillow = "==11.2.1"
resizer = {editable = true, path = "."}

[dev-packages]
pdbpp = "==0.11.6"
towncrier = "==24.8.0"
tbump = "==6.11.0"
mypy = "==1.15.0"
types-pillow = "==10.2.0.20240822"
pytest = "==8.3.5"
pytest-cov = "==6.1.1"

[requires]
python_version = "3.12"
