[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.1.7"
pillow = "==10.2.0"
resizer = {editable = true, path = "."}

[dev-packages]
pdbpp = "==0.10.3"
towncrier = "==23.11.0"
tbump = "==6.11.0"
black = "==24.1.1"
mypy = "==1.8.0"
types-pillow = "==10.2.0.20240125"
ruff = "==0.2.0"
pytest = "==8.0.0"
pytest-cov = "==4.1"

[requires]
python_version = "3.12"
