[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.2.1"
pillow = "==12.0.0"
resizer = {editable = true, path = "."}

[dev-packages]
pdbpp = "==0.11.7"
towncrier = "==25.8.0"
tbump = "==6.11.0"
mypy = "==1.19.1"
types-pillow = "==10.2.0.20240822"
pytest = "==9.0.1"
pytest-cov = "==6.2.1"

[requires]
python_version = "3.12"
